<html>
	<head>
		<style>
			body {
				background-color: <%= background_color %>;
			}
		</style>
	</head>

	<body>
		<p>
			<%= message %> <br />


			The secret number is <%= number %>

			(guesses left: <%= guesses_left %>)
		</p>

		<form>
			<input type='text', name = "guess" />
			<input type='submit', name = "guess number!" />
		</form>
	</body>
</html>



